.container {
  width: 75%;
}
body {
  line-height: 1.2;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
}
/* Start Nav */
.navbar {
  font-size: 12px;
  background: #fff;
}
/* Banner */
#banner {
  height: 75vh;
  width: 100vw;
  overflow: hidden;
  background: url('../img/b1.jpg');
  color: #fff;
  background-position: center;
}

.barnner-inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}


/* End Banner */

/* Welcome */
#welcome {
  font-size: 13px;
}
.welcome-info {
  display: grid;
  place-items: center;
}
/* End Welcome */

#get-involve {
  background: url('../img/b2.jpg');
  background-position:  center;
  height: 400px;
  color: #fff;
}
#get-involve >div{
  display: grid;
  place-items: center;
}

#map {
  background: url('../img/map.svg');
}
.newsletter {
  margin: auto;
}
/* Contacts */
