.container {
  width: 75%;
  margin: auto;
}
body {
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  background: #f8f9fa;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

/* Start Nav */
header {
  background: #000;
  width: 100;
}
.navbar {
  font-size: 12px;
  background-color: #000 !important;
  opacity: 0.6;
  transition:  all .3s ease;
}
.navbar a {
  color: #fff !important;
  font-size: 1rem;
}
/* Banner */
#myCarousel{
  height: 100vh;
}
.carousel-inner,.carousel-item {
  height: 100%;
}
.carousel-caption {
  bottom: 0;
  top: 40%;
}
.carousel-item img {
  height: 100%;
  width: 100%;

}
.carousel-caption {
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
#banner {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
  background-position: center;
  position: relative;
}
#banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(55, 83, 112, 0.6);
  z-index: 2;
}

.barnner-inner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.barnner-inner .col-md-6 {
  z-index: 1;
}

/* End Banner */

/* Welcome */
#welcome {
  font-size: 13px;
}
.welcome-info {
  display: grid;
  place-items: center;
}
/* End Welcome */

.church-info {
  /* background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover; */
  color: #fff;
  position: relative;
  display: grid;
  place-items: center;
}
#mission {
  background: url("../img/hand.jpg");
  background-attachment: fixed;
  background-position: center;

}

#vision {
  background: url('../img/p5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.quote {
  font-size: 3rem;
}

.church-info .container {
  z-index: 3;
}

.newsletter {
  margin: auto;
}
#newsletter {
  background: #007bff;
  color: #fff;
}
/* Page Info */
.pageinfo {
  height: 200px;
  width: 100%;
  background: url("../img/b1.jpg");
  background-position: center;
  display: grid;
  place-items: center;
  position: relative;
}
.pageinfo h1 {
  z-index: 1;
}
/* Pastors */
#pastors {
  background: #fff;
}

.pastor {
  padding: 0;
  margin: 5px;
  background: #fff;;
  border: 1px solid lightgray;
}
/* Sermons */

.sermon .card {
  box-shadow: 0 0px 14px rgba(0,0,0,0.4);
  border-left: 5px solid #007bff;
  background: #fff;
}
#video iframe{
  widows: 100%;
}
/* Contacts */
#contact {
  background: #fff;
}
#map {
  width: 100%;
  height: 250px;
}
/* Footer */
footer {
  width: 100%;
  background: #000;
}

footer i {
  color: #007bff !important;
  font-size: 1.1rem;
}
/* ANIMATIONS */
.slideInTop{
  animation: slideInTop 2s ease ;
}
.slideInBottom{
  animation: slideInBottom 2s ease ;
}
.slideInLeft{
  animation: slideInLeft 2s ease ;
}
.slideInRight{
  animation: slideInRight 2s ease ;
}
@keyframes slideInTop {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInBottom {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* media Queries */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
} 